{% extends "base.html" %}
{% block title %}Services · TailorShop{% endblock %}
{% block content %}
<h2 class="mb-4">Our Services</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col"><div class="card h-100 p-3">Aari Work Blouses</div></div>
  <div class="col"><div class="card h-100 p-3">Classic Blouses</div></div>
  <div class="col"><div class="card h-100 p-3">Chudithaar Stitching</div></div>
  <div class="col"><div class="card h-100 p-3">Alterations</div></div>
  <div class="col"><div class="card h-100 p-3">Fusion & Western Designs</div></div>
</div>
{% endblock %}

